<div class="container-fluid">
    <div class="row">
        <img class="imgcon" src="/assets/images/Google_Maps.png">
    </div>
  
    
</div>
<div class="container">
    <div class="row">
        <mat-card>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                      <div>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" class="lefticon">place</mat-icon>
                        <div class="bitleft"><p>Address</p></div>
                        <div><p>329 Queensberry Street, North
                            Melbourne VIC 3051, Australia.</p></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="lefticon">phone_iphone</mat-icon>
                            <div class="bitleft"><p>Phone</p></div>
                            <div><p>123 456 7890</p></div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="lefticon">email</mat-icon>
                            <div class="bitleft"><p>Email</p></div>
                            <div><p>contact.superio@example.com</p></div>
                          </div>
                    </div>
                    
                </div>
            </div>

            <!-- form -->
                 <mat-card class="card">
                    <form>
                        <div class="row">
                            <h1>Leave a message</h1>
                        </div>
                        <div class="row">
                          <div class="col">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" placeholder="Name">
                          </div>
                          <div class="col">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                          </div>
                        </div>
                        <div class="row">
                            <div class="col">
                              <label for="formGroupExampleInput">Subject</label>
                              <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            
                          </div>
                          <div class="row">
                            <div class="col">
                              <label for="formGroupExampleInput">Comment</label>
                              <input type="t" class="form-control" placeholder="Comment">
                            </div>
                            
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Send Message</button>
                            </div>
                            
                          </div>
                      </form>
                 </mat-card>
            <!-- form -->
       
        </mat-card>
    </div>
</div>
