<div>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
         <div>
           <h1 class="fonhe">There Are 93,178 Postings Here For you!</h1>
         </div>
        
        
        <div>
          <p class="fonte">Find Jobs, Employment & Career Opportunities</p>
        </div>
       
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="JobTitle,Keyword">
                </div>
                <div class="col">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>City or postcode</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="fon">
          <p>Popular Searches : Designer Developer Web IOS PHP Senior Engineer</p>
        </div>
        </div>
        <div class="col-md-4">
    
      <img src="/assets/images/slider1.png" class="img-fluid">
    
        </div>
      
      </div>
    </div>
   
  </div>
  <div class="jobcategories">
    
<div class="row categorieshead">
  <h1>Popular Job Categories</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
               <img src="/assets/images/budget-accounting-vector-icon-260nw-706413778.jpg" width="100%" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <p class="jobfon">Accounting/Finance</p>
              
            </div>
            <div>
              <p class="jobfon">(1 open position)</p>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  <!-- featuredjob -->
  <div class="jobcategories">
    
    <div class="row categorieshead">
      <h1>Featured Jobs</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y8.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-primary">Full Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y1.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-danger">Part Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y9.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-primary">Full Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y1.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-danger">Part Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y9.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-primary">Full Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y1.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-danger">Part Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y9.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-primary">Full Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                
                  
                   <img src="/assets/images/y1.jpg" width="100%" class="img-fluid">
                 
                
              </div>
              <div class="col-md-6">
                <div>
                  <p class="jobfonsize">General Ledger Accountant</p>
                  
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-4">
                      <span class="material-icons">
                        work
                        </span>
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        location_on
                        </span>
                        
                        <p>Designer</p>
                    </div>
                    <div class="col-md-4">
                      <span class="material-icons">
                        attach_money
                        </span>
                        <p>Designer</p>
                    </div>
                    
                   
                   
                  </div>
              
                  
                </div>
                <div>
                  <button type="button" class="btn btn-danger">Part Time</button>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
</div>








