
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #3e4551"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Carieer Maker</h5>
  
              <p>
                Job portals, or job boards, are sites where you can advertise jobs and search for resumes. They are an integral part of almost every hiring process and using them effectively will translate into qualified candidates for relatively low costs.
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">About</a>
                </li>
                <li>
                  <a href="#!" class="text-white">contact</a>
                </li>
                <li>
                  <a href="#!" class="text-white">email</a>
                </li>
                <li>
                  <a href="#!" class="text-white">phone</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">About</a>
                </li>
                <li>
                  <a href="#!" class="text-white">contact</a>
                </li>
                <li>
                  <a href="#!" class="text-white">email</a>
                </li>
                <li>
                  <a href="#!" class="text-white">phone</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">About</a>
                </li>
                <li>
                  <a href="#!" class="text-white">contact</a>
                </li>
                <li>
                  <a href="#!" class="text-white">email</a>
                </li>
                <li>
                  <a href="#!" class="text-white">phone</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">About</a>
                </li>
                <li>
                  <a href="#!" class="text-white">contact</a>
                </li>
                <li>
                  <a href="#!" class="text-white">email</a>
                </li>
                <li>
                  <a href="#!" class="text-white">phone</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="mb-4" />
  
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <button type="button" class="btn btn-outline-light btn-rounded">
              Sign up!
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
  
        <hr class="mb-4" />
  
        <!-- Section: Social media -->
        <section class="mb-4 text-center">
          <!-- Facebook -->
          
  
          <!-- Twitter -->
         
  
          <!-- Google -->
         
          <!-- Instagram -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><span class="material-icons">
                mail
                </span></a>
  
          <!-- Linkedin -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><span class="material-icons">
                facebook
                </span></a>
  
          <!-- Github -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><span class="material-icons">
                whatsapp
                </span>
                </a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
