<!-- <p>jobcategory works!</p> -->
<div class="container-fluid">
    <mat-card>
        <h1>Job Category</h1>
        </mat-card>
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="Jobcategory(jobcatefrom)" #jobcatefrom="ngForm">
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Job Category</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="jobcategory" [(ngModel)]="jobcateg.jobcate" placeholder="Customer Care">
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" (click)=" updateJobCategory()" class="btn btn-warning">Update</button>
                </div>
                  </form>
            </div>
          </div>

          <!-- table -->
          <mat-card class="cardtop">
            <h1>Job Category List</h1>
            </mat-card>
          <table class="table  table-hover">
            <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">jobcategory</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                  
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let job of getjobacte;let i=index">
                  <th scope="row">{{i}}</th>
                  <td>{{job.jobcate}}</td>
                  <td><button type="button" (click)="EditJobcat(job)" class="btn btn-info"><span class="material-icons">
                    edit
                    </span></button></td>
                    <td><button type="button" (click)="deleteJobcat(job.id)" class="btn btn-danger"><span class="material-icons">
                        delete
                        </span></button></td>
                  
                </tr>
              
              </tbody>
          </table>
          
          
          <!-- table -->
</div>

