<div class="conatiner">
    <div class="row">
        <div class="contain">
            <h1>Search For jobs</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="inputPassword2" class="sr-only">Keyword</label>
                            <input type="text" class="form-control" placeholder="Keyword">
                        </div>
                        <div class="col">
                            <label for="exampleFormControlSelect2">JobType</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inputPassword2" class="sr-only">Location</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlSelect2">Category</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inputPassword2" class="sr-only">From</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlSelect2">Per</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputPassword2" class="sr-only">To</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputPassword2" class="sr-only">Company Name</label>
                            <input type="text" class="form-control" placeholder="Company Name">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary">Search</button>
                        </div>
                        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>